<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>

<body>
    <div class="sidebar">
        <h2 style="text-align: center;color: white; margin: 0; padding: 15px;">AutoLAR</h2>
        <a href="/access">My Access</a>
        <a href="/requests">Requests</a>
        <a href="/lookup">Lookup</a>
        <a href="/queue">Queue</a>
        <a href="/reports">Reports</a>
        <a href="/system">System</a>
        <a style="margin-top: auto;" href="/system">Messages</a>
        <a href="/system">Profile</a> 
        <a href="/system">Sign out</a>
    </div>
    <div style="margin-left: 200px;">
        <h2 style="margin: 0; padding: 15px">My Requests</h2>
    </div>
    <div class="content">
        <!--<button class="button">New Request</button>
        <button class="button">Delete Request</button>-->
        <table>
            <thead>
                <tr>
                    <th>Information Repository</th>
                    <th>Justification</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr>
                    <td>{{ request.ir.name }}</td>
                    <td>{{ request.justification }}</td>
                    <td>{{ request.status }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No records found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>