body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(229, 229, 229);
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #172430;
    overflow-x: hidden;
    border-right: 2px solid lightgray;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #293f54;
}

.content {
    margin-left: 200px;
    padding: 1px 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-top: 15px;
    background-color: white;
    border-radius: 5px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

.button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }