body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #172430;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    height: 100%;
}

.topnav a:hover {
    background-color: #273c4f;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 82px;
    border-right: 2px solid lightgray;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.sidebar a:hover {
    background-color: #DDD;
}

.content {
    margin-left: 200px;
    padding: 1px 16px;
    margin-top: 70px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-top: 15px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

.button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }